workflows/API Generator/API Generator.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Linkedin Post Generator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Topic of Post",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "65a365e0-b066-4118-b545-06f8eb8d2585",
      "name": "On form submission",
      "webhookId": "b109b7df-de68-4e57-8c77-1f1c47b34cac"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Post : {{ $json['Topic of Post'] }}\nTarget Audience : {{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "Overview\nYou are an AI agent specialized in creating professional, educational, and engaging LinkedIn posts based on any topic provided by the user.\n\nObjectives:\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The post should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured LinkedIn post that:\n- Starts with an engaging hook\n- Professional in tone\n- Clear and easy to read\n- Educational and insightful\n- Light on emojis (use only when highly relevant and minimal)\n- Includes proper source attribution (e.g., \"according to [source]\")\n- Contains relevant hashtags to improve visibility\n- Ends with a clear call to action (e.g., asking for thoughts, feedback, or shares)\n\nOutput Instructions:\n- Your ONLY output should be the final LinkedIn post text\n- Do not include explanations, notes, or anything beyond the post itself\n- Keep posts between 100-300 words for optimal LinkedIn engagement\n\nExample workflow:\n1) Receive a topic (e.g., \"The ROI of warehouse automation\")\n2) Use Tavily to search and gather recent information or case studies\n3) Draft a LinkedIn post using that research\n4) Format it with source citations, clean structure, relevant hashtags, and a call to action"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "655ede16-2770-47b9-b583-6f2b24fe517b",
      "name": "Linkedin post generator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        192
      ],
      "id": "380b5da4-c7b8-4d8c-82dc-99426ca05eff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VL8qy9GPqNaBWv12",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json['Topic of Post'] }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5,\n  \"time_range\": null,\n  \"days\": 30,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [\"reddit.com\", \"quora.com\"],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        208,
        192
      ],
      "id": "87a5236b-ba33-4a5c-b76d-453fe54e944e",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Mffd4SkM3mvejbRn",
          "name": "tavily"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Linkedin Post: \n{{ $json.output }}",
        "options": {
          "systemMessage": "Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\nObjective:\n- Read and analyze the given LinkedIn post\n- Identify the main message, insight, or takeaway from the post\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator\n- The result should be a marketing-style graphic - not a literal scene or hyperrealistic photo - that:\n  1) Visually supports or illustrates the key idea of the post\n  2) Looks appropriate for use in a professional LinkedIn feed\n  3) Feels polished, modern, and engaging\n\nOutput Instructions:\n- Output only the final image prompt. Do not output quotation marks\n- Do not repeat or rephrase the LinkedIn post\n- Do not add any explanations or extra content - just the image prompt\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\nStyle Guidelines:\n- Think like a brand designer or marketing creative\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\")\n- Assume the output will be generated using AI image tools - your prompt should guide those tools effectively\n\nExample Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "40df8c23-23b5-48ae-a403-092d7afe3826",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"dall-e-3\", \"prompt\": $json.output, \"n\": 1, \"size\": \"1024x1024\", \"quality\": \"standard\", \"style\": \"vivid\", \"response_format\": \"b64_json\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        0
      ],
      "id": "ee7aca40-0c9b-4389-9147-dc577ddef7a2",
      "name": "Generate Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mlRSr3St3CnAHKvl",
          "name": "openAI image"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "={{ $json.data[0].b64_json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        16
      ],
      "id": "8e968cee-ab68-4678-8dc4-71c0f3834b15",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1328,
        32
      ],
      "id": "38c3b4ad-2482-4dc9-9fac-f23f471e9c3d",
      "name": "Create a post"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Linkedin post generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin post generator": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin post generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Linkedin post generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "On form submission": [
      {
        "Email": "muaazuu@gmail.com",
        "Topic of Post": "Cricket",
        "Target Audience": "Young Sportsmen",
        "submittedAt": "2025-08-24T20:56:27.424+05:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93a1cd3c32557fe8466869f983eefd2f33e580e38b36d638d6a3a727d316e0b6"
  }
}