workflows/rag-pipeline-and-chatbot/RAG pipeline and chatbot.json
{
  "name": "RAG pipeline and chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1220,
        120
      ],
      "id": "6b5801b8-285d-49bc-9b10-4f30f8115f67",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        980,
        120
      ],
      "id": "ad4f3592-2457-4a08-8bae-4df383e4398e",
      "name": "When chat message received",
      "webhookId": "8a8997e1-d09d-43c2-9fd1-d7120806dab8"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        340
      ],
      "id": "1c244b30-81cb-4655-abba-578f0c197aa3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BRBT2voeUpeDaZAo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your data",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-1536",
          "mode": "list",
          "cachedResultName": "rag-1536"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1320,
        340
      ],
      "id": "6117dd82-20ae-471b-b22c-0d5e1f4e244f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "cqK71C7O4Jjy8DXf",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1340,
        500
      ],
      "id": "a0613622-6b3c-4eab-9050-0d53fe09f14a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "BRBT2voeUpeDaZAo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-1536",
          "mode": "list",
          "cachedResultName": "rag-1536"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        360,
        40
      ],
      "id": "1327d56b-a120-4fc9-8873-3bd8d80c4eb4",
      "name": "Demo",
      "credentials": {
        "pineconeApi": {
          "id": "cqK71C7O4Jjy8DXf",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        140
      ],
      "id": "fedd265e-dd01-4ef7-aae9-bab82bc303ae",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8tnkdV0emjD2OAvH",
          "name": "muaazsiddique97@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wEyXzItejzP91PvhG1yf0a8f_0NT33Hp",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wEyXzItejzP91PvhG1yf0a8f_0NT33Hp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        140
      ],
      "id": "3d2c7919-c4e6-4ef4-b408-3f271ec5221b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8tnkdV0emjD2OAvH",
          "name": "muaazsiddique97@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        260
      ],
      "id": "9a21a2d0-ab3d-4626-87c4-efbf4c8fae25",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aiHbseww35OSPT1j",
          "name": "rag demo"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        260
      ],
      "id": "80129c5c-531c-4e12-8719-1f8388e0d5ba",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        480
      ],
      "id": "6ecefd74-7058-48cc-8b87-5f2f33db0760",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Demo",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Demo",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b740a07b-1d17-487b-825f-4e481a210020",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bdc7be52d3f15e2a9a22a025a5017cc947f693a6b2c145cdcab7e869bdf5250"
  },
  "id": "IDsG9Ao4QQiRomme",
  "tags": []
}